<div class="container mt-5">
    <div class="card">
        <div class="row mt-4 mb-4">
            <h2>Rate this movie</h2>
            <h6>Tell others what you think</h6>
            <div class="col-md-6">
                <img style="width: 350px; height: 430px; margin-left: 80px;" src="https://m.media-amazon.com/images/I/81FNja+9-iL._SL1500_.jpg" alt="">

            </div>
            <div class="col-md-6" style="padding-right: 20px;">
                <h3>Shutter Island </h3>
                <h5>Thriller | Drama | Mystery</h5>
                <p>The implausible escape of a brilliant murderess brings U.S. Marshal Teddy Daniels (Leonardo DiCaprio) and his new partner (Mark Ruffalo) to Ashecliffe Hospital, a fortress-like insane asylum located on a remote, windswept island. The woman appears to have vanished from a locked room, and there are hints of terrible deeds committed within the hospital walls. As the investigation deepens, Teddy realizes 
                  he will have to confront his own dark fears if he hopes to make it off the island alive.</p>
                  <ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="false"></ngb-rating>
                   <hr>
                   <h5>Current Rating: {{currentRating}} of 5</h5>
      
            </div>

        </div>
    </div>
</div><br><br>





